<?php

use Application\Entity\User\User;

/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */

?>

<?php
?>

<h3>Simple Authentication to Nowhere</h3>

<?php
if ($this->userEmail !== null) {
?>
You're signed-in as: <span>'<?php echo $this->userEmail; ?>'</span>
<?php
}
?>

<?php
if ($this->userEmail !== null) {
?>
	<button data-x="sign-out">Sign-out</button>
<?php
} else {
?>
	<form id="sign-in-form" novalidate>
		<input type="email" name="email" placeholder="email"/>
		<input type="password" name="password" placeholder="password"/>
		<button data-x="sign-in">Sign-in</button>
	</form>
	<span data-x="sign-in-failed" style="display:none;">Authorization failed, try again. <span data-x="error"></span></span>
	OR
	<form id="register-form">
		<input type="email" name="email" placeholder="email"/>
		<input type="password" name="password" placeholder="password"/>
		<input type="password" name="password_repeat" placeholder="repeat password"/>
		<button data-x="sign-in">Register</button>
	</form>
	<span data-x="register-failed" style="display:none;">Registration failed: <span data-x="error"></span></span>
	<span>Password must be 8 letters long, contain 2 uppercase, 2 lowercase and 2 special characters.</span>
<?php
}
?>

<?php
if (count($this->registeredUsers) > 0)
?>
<table style="caption-side:top;">
<caption>registered users:</caption>
<tbody>
<?php
/**
 * @var User $regUser
 */
foreach ($this->registeredUsers as $regUser) {
?>
	<tr><td><?php echo $regUser->getEmail() ?></td></tr>
</tbody>
</table>
<?php
}
?>

<script>
$('form#sign-in-form').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: '/api/sign-in',
        type: 'post',
        dataType: 'json',
        data: $('form#sign-in-form').serialize(),
        success: function(data) {
            if (data.data.change_password) {
                location.href = '/password-change/' + data.data.user_id + '/' + data.data.change_reason;
			} else {
                location.reload();
			}
		},
        error: function(data) {
            $('[data-x="sign-in-failed"] [data-x="error"').html(data.responseText);
            $('[data-x="sign-in-failed"]').show();
        },
    });
});

$('form#sign-in-form input').change(function(e) {
    $('[data-x="sign-in-failed"]').hide();
});

$('[data-x="sign-out"').click(function(e) {
    e.preventDefault();
    $.ajax({
        url: '/api/sign-out',
        type: 'post',
        dataType: 'json',
        data: {},
        success: function(data) {
            location.reload();
        },
        error: function(data) {
            console.log('OUT-ERR');
            console.log(data);
        },
    });
});

$('form#register-form').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: '/api/register',
        type: 'post',
        dataType: 'json',
        data: $('form#register-form').serialize(),
        success: function(data) {
            alert('Registration completed. You can sign in now.');
        },
        error: function(data) {
            $('[data-x="register-failed"] [data-x="error"').html(data.responseText);
            $('[data-x="register-failed"]').show();
        },
    });
});

$('form#register-form input').change(function(e) {
    $('[data-x="register-failed"]').hide();
});
</script>