<?php

/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */

?>

<h3>Change password</h3>

<span><?php echo $this->reason ?></span>

<form id="change-form" novalidate class="grid-container">
	<div class="grid-item">
		<input type="email" name="email" placeholder="email" value="<?php echo $this->userEmail ?>"/>
	</div>
	<div class="grid-item">
		<input type="password" name="current_password" placeholder="current password"/>
	</div>
	<div class="grid-item">
		<input type="password" name="password" placeholder="new password"/>
	</div>
	<div class="grid-item">
		<input type="password" name="password_repeat" placeholder="repeat new password"/>
	</div>
	<div class="grid-item">
		<button data-x="sign-in">Change</button>
	</div>
</form>
<span data-x="change-failed" style="display:none;">Failed to change password.<span data-x="error"></span></span>

<script>
$('form#change-form').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: '/api/change-password',
        type: 'post',
        dataType: 'json',
        data: $('form#change-form').serialize(),
        success: function(data) {
            location.href = '/?event=password-changed';
		},
        error: function(data) {
            $('[data-x="change-failed"] [data-x="error"').html(data.responseText);
            $('[data-x="change-failed"]').show();
        },
    });
});

$('form#change-form input').change(function(e) {
    $('[data-x="change-failed"]').hide();
});
</script>